<a href="https://colab.research.google.com/github/laura-rubio213/introduccion-de-ingieneria/blob/main/analisis_datos_101_(introduccion).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Repaso

## tipos de datos

|tipo|descripcion|ejemplo|
|---|----|-----|
|int|entero|42|
|float|decimales-reales|3.1416|
|str|cadenas de texto|"hola|
|bool|boleanos|true, false|
|none type|nulos o sin valor|none, naw(pandas)|


## tipos de datos en pandas
## Tipos de Datos en Pandas
|Tipo|Descripción|
|--|--|
|int64, float64|Numeros enteros y reales con una cantidad de bits especificos|
|object|Cadenas o Valores Mixtos|
|bool|Boolenaos|
|datetime64|Fechas|
|category|Categorias mas eficientes (Mas rápidos y usan menos memoria)|

## Exercise 01

*Problem Statemente*

Write a Python program that demostrates the use of the following data types:

- intenger
- Float
- String
- Boolean
- List
- Tuple
- Dictionaty

You Program should:

1. Define a variable for each data type and assign appropiate values to them.

2. Print the data type of each variable using the "type()" function.

3. Perform at least one operation or manipulation for each data type (e.g., concatenation for strings, addition for integers and floats, accessing element for list and tuples, adding or updating hey-values pairs of dictionary).

For example:

- Create a string variable and concatenate it with another string.
- Create a list and appened a new item to it
- Create a dictionary and update an existing key

In [10]:
int_ = 10
numero_decimal = 3.14
texto = "Hola"
szs = True
lista_numeros = [1, 2, 3]
tupla_frutas = ("manzana", "banana", "cereza")
datos_persona = {"nombre": "Alicia", "edad": 25}

print("numero_entero: ", type(int_))
print("numero_decimal: ", type(numero_decimal))
print("texto: ", type(texto))
print("es_verdadero: ", type(szs))
print("lista_numeros: ", type(lista_numeros))
print("tupla_frutas: ", type(tupla_frutas))
datos_persona["edad"] = 30
print("datos_persona: ", type(datos_persona))
print(datos_persona)

numero_entero:  <class 'int'>
numero_decimal:  <class 'float'>
texto:  <class 'str'>
es_verdadero:  <class 'bool'>
lista_numeros:  <class 'list'>
tupla_frutas:  <class 'tuple'>
datos_persona:  <class 'dict'>
{'nombre': 'Alicia', 'edad': 30}


## pandas
# En local debe hacer una instalación mediante el siguiente comando: pip.install pandas

In [11]:
import pandas as pd

## series

In [15]:
var = pd.Series([10, 20, 30, 30, 30, 40], index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(var)

a    10
b    20
c    30
d    30
e    30
f    40
dtype: int64

## propidad o metodos clave

In [18]:
print(var.index)
print(var.sum())
print(var.value_counts())
print(var["f"])
print(var.iloc[5])

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
160
30    3
10    1
20    1
40    1
Name: count, dtype: int64
40
40

In [19]:
var = pd.Series({"x":100, "y":200, "z":150})
print(var);

x    100
y    200
z    150
dtype: int64

In [20]:
var = pd.Series(7, index=["a","b","c"], name="Serie ejemplo")
print(var);

a    7
b    7
c    7
Name: Serie ejemplo, dtype: int64

In [23]:
print(var.index)
print(var.values)
print(var.dtype)
print(var.shape)
print(var.name)
var.name = "nuevo valor"
print(var.name)

Index(['a', 'b', 'c'], dtype='object')
[7 7 7]
int64
(3,)
nuevo valor
nuevo valor

In [24]:
foo = pd.Series([10, 30, 50, 14, 7])

##flitrado
print(foo[foo > 4])

#operaciones vectorizadas
print(foo * 2)
print(foo + 10)
print(foo % 2)

0    10
1    30
2    50
3    14
4     7
dtype: int64
0     20
1     60
2    100
3     28
4     14
dtype: int64
0    20
1    40
2    60
3    24
4    17
dtype: int64
0    0
1    0
2    0
3    0
4    1
dtype: int64

In [25]:
print(foo.max())
print(foo.sort_values())
print(foo.sort_index())

50
4     7
0    10
3    14
1    30
2    50
dtype: int64
0    10
1    30
2    50
3    14
4     7
dtype: int64

In [26]:
foo[5] = 100
print(foo)

0     10
1     30
2     50
3     14
4      7
5    100
dtype: int64

In [29]:
foo = pd.Series([10, 20, 30, 30, 30, 40], index = ['a', 'b', 'c', 'd', 'e', 'f'])
foo.rename({'a': "Alpha"})
print(foo)

a    10
b    20
c    30
d    30
e    30
f    40
dtype: int64

In [30]:
foo = pd.Series([10, None, 30, None, 50, None, 70])
foo.isnull()
Newfoo = foo.fillna(foo.mean())
print(Newfoo)

0    10.0
1    40.0
2    30.0
3    40.0
4    50.0
5    40.0
6    70.0
dtype: float64