<a href="https://colab.research.google.com/github/laura-rubio213/introduccion-de-ingieneria/blob/main/clase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicio 1
use la funcion int para retomar el numero 100 sumando el caracter "50" al numero 50, adicionalmente, use la funcion str para retomar el resultado el resultado de la adicion "5050"

In [ ]:


num1 = 50;
num2 = "50";

print(str(num1 + int(num2)));
print(num1 + int(num2));

100
100

## Ejercicio 2

se proveen una letra "1" y tres "0".Use estas para construir el numero 100.Aqui solo se permiten operaciones de adicion entre strings, y la funcion int() puede ser usada solo una vez

In [ ]:
arr = ["1", "0", "0", "0"];
result = "".join(arr);
print(result);

1000

## FUNCIONES DE RECURCION

In [ ]:
n1 = 5
n2 = 10

def factorial(number):
  if number < 0:
    return "No hay factorial de negativos"
  elif number == 0:
    return 1
  else:
    fact = 1
    while (number > 1):
      fact *= number
      number -= 1
    return fact

print(factorial(n1))
print(factorial(n2))

120
3628800

In [ ]:
def simple_factorial(n):
  aux = n
  for i in range(n-1, 0, -1):
    aux *= i
  return aux

print("Factorial de 5: ", simple_factorial(5));
print("Factorial de 10: ", simple_factorial(10));

Factorial de 5:  120
Factorial de 10:  3628800

In [ ]:

number = int(input("Ingrese un numero: "))
def factorial_recursion(number):
  if number == 0:
    return 1
  else:
    return number * factorial_recursion(number - 1)
print(factorial_recursion(number));

Ingrese un numero: 5
120

In [ ]:
n1 = int(input("Ingrese un numero: "))
n2 = int(input("Ingrese un numero: "))

import math
print(math.factorial(n1));
print(math.factorial(n2));

Ingrese un numero: 5
Ingrese un numero: 9
120
362880

## Ejercicio 3
 El teorema de pitagoras afirma que el cuadrado de la hipotenusa c para cualquier triangulo rectangulo es igual al cuadrado de la base a mas el cuadrado de la altura b, escriba un codigo que calcule el largo de la hipotenusa recibiendo la base y la altura como entero

In [ ]:
a = int(input("ingrese un numero"));
b = int(input("ingrese la altura"));
c = ((a**2 + b**2)**0.5);
print("la hipotenusa es: ", c);

ingrese un numero8
ingrese la altura8
la hipotenusa es:  11.313708498984761

## Ejercicio 4

Escribe un programa que muestre los valores cuadrados de 2 a 6 en una tabla como la que se mostro anteriormente, en este caso la variable a se puede incrementar de 2 a 6, y n tiene el valor de 2. Ingrese el valor actuarl para la parte correrspondiente de a*n, de tal forma que el resultado de salida de la ecuaci√≥n sea 2*2.

|a|n|a**n|
|--|--|--|
|2|2|4|
|3|2|9|
|4|2|16|
|5|2|25|
|6|2|36|

In [ ]:

a_values = [2, 3, 4, 5, 6]
n = 2

for a in a_values:
    result = a ** n
    print(f"{a}\t{n}\t{result}")

2	2	4
3	2	9
4	2	16
5	2	25
6	2	36

In [ ]:
age = int(input("ingrese su edad: "));

if age % 2 == 0:
  print("Su edad es par");
else:
  print("Su edad es impar");

ingrese su edad: 7
Su edad es impar

In [ ]:
age = int(input("ingrese su edad: "))
print("par" if age % 2 == 0  else "impar")

ingrese su edad: 8
par


## Ejercicio 5

recibir un numero entero de 3 digitos del usuario si en sentesimo digito del entero n es 3 entonces devuelve el bluque si no devuelme un false

In [ ]:
n = int(input("n: "));

if(n // 100) == 3:
  print(True);
else:
  print(False);

n: 8
False

## Ejercico 6
Recibe un entero. Si el n√∫mero entero es multiplo de 5, devuelve True, si no, devuelve False

In [ ]:
n = int(input("Ingrese un numero: "));

if (n % 5) == 0:
  print(True);
else:
  print(False);

Ingrese un numero: 5
True

## Ejercico 7
 Reciba una letra alfabetica del ususario e imprima "is a vocal" para las vocales o "is a consonant" para cualquier otra letra. en caso de que no sea ninguna de las dos condiciones imprima "is not an alphabet"

In [ ]:
user = input("ingrese un caracter: ");

if user in [ "a", "e", "i", "o", "u"]:
  print("is a vocal");
elif user in [ "b", "c", "d"]:
  print("is a consonant");
else:
  print("is not an alphabet");

ingrese un caracter: 54
is not an alphabet