<a href="https://colab.research.google.com/github/laura-rubio213/introduccion-de-ingieneria/blob/main/introducci%C3%B3n_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LAMBDA

In [2]:
def suma(a, b):
 return a + b

def suma(a: int, b: int) -> int:
  return a + b
print("la suma de 3 + 4 es:", suma(3,4))

la suma de 3 + 4 es: 7

In [5]:
resultado_suma = lambda a, b: a + b
print("la suma de 3 + 4:", resultado_suma(3, 4))

la suma de 3 + 4: 7

In [6]:
print("la suma de 3 + 4:",(lambda a, b: a + b)(3, 4))

la suma de 3 + 4: 7

## (lambda[parámetros]:expresión)(argumentos)

In [7]:
a = [ 1, 2, 3, 4, 5, 6, 7, 8]
square_a = list(map(lambda x: x**2, a))
print(a)
print(square_a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]

## FILTER

filter((función aplicar,{objetos iterables}))

In [8]:
def is_adult(n):
  if n > 18:
    return True
  else:
    return False

ages = [34, 45, 17, 15, 88, 19]

for i in filter(is_adult, ages):
  print(i, end=" ")

34 45 88 19

In [9]:
ages = [34, 45, 17, 15, 88, 19]

for i in filter(lambda x: x > 18, ages):
  print(i, end=" ")

34 45 88 19

## MAP
map(función a aplicar(objeto iterable))

In [10]:
def square(x):
  return x**2

a = [1, 2, 3, 4, 5, 6, 7, 8]
square_a = list(map(square, a))
print(a)
print(square_a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]

In [13]:
a = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
square_a = list(map(lambda x: x**2, a))

print(square_a)

[81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [16]:
a = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
square_a =[]

for x in a:
  square_a.append(x**2)

print(square_a)

[81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

## reduce
reduce((función a aplicar(objeto iterable))

In [19]:
from functools import reduce

a = [1, 2, 3, 4, 5]
n = reduce(lambda x, y: x + y, a)
print(n)

15

*Explicacón codigo anterior*

- 1 + 2 = 3
- 3 + 3 = 6
- 6 + 4 = 10
- 10 + 5 = 15

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
suma = reduce(lambda x, y, z: x + y + z, a)
print(a)
print(suma)

## Ejercicio uno

Ahi una lista de elementos llamada 'n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]' retorna una lista llamada 'even_list',  la cual solo contiene los numero pares de 'n_list'.

Para este ejemplo la respuesta esperada es 'even_list = [2, 4, 6, 8, 10]

*Pista*
Usa las funciones lambda y filte

In [20]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = list(filter(lambda x: x % 2 == 0, n_list))

print(even_list)

[2, 4, 6, 8, 10]

## EJERCICIO DOS

escribe una funcion map que convierta la variable a_list, que contiene el alfabeto en minuscula [a, b, c, d, e, f, g, h, i, j] y la convierte en la variable upper_list, que contiene el alfabeto en mayuscula ['A','B', 'C', 'D', 'E', 'F', 'G', 'H', I].  También defina una función llamada to_upper que reciba las letras en minúscula como parámetros y las retorne como letras mayúsculas

In [40]:
def to_upper():
  x = input("Ingrese las letras a convertir: ")
  x = x.upper()
  return list(x)

a_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
upper_list = list(map(lambda x: x.upper(), a_list))
print(upper_list)

to_upper()

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
Ingrese las letras a convertir: laura

['L', 'A', 'U', 'R', 'A']

## EJERCICIO TRES

Calcule la suma de enteros de 1 a 100 usadno la función reduce y la expresión lambda dentro de ella. Use como entrada range (1, 101)

Para este ejemplo, la respuesta esperada es:
La suma de 1 a 100 es: 5050

In [24]:
from functools import reduce

sum_result = reduce(lambda x, y: x + y, range(1, 101))

print(f"La suma de 1 a 100 es: {sum_result}")

La suma de 1 a 100 es: 5050

## comprensión de listas

 ## EJERCICIO
1. Lista de números de 0 a 9
2. Listado del valor al cuadrado de los números entre 0 y 9
3. Listado de números pares entre 0 y 9
4. Listado de números impares entre 0 y 9
5. Listado de números pares entre -99 y -50
6. Listado de números impares entre -99 y -50
7. LIstado de números impares entre 15 y 35 usando range
8. Listado de números pares entre 35 y 55 usando range
9. Listado de números pares al cuadrado entre 505 y 600
10. Listado de números impares al cuadrado entre -1010 y -935

In [45]:
 #1
numeros = list(range(10))
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
#2
valor_cuadrados = [i**2 for i in range(10)]
print(valor_cuadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
#3
numeros_pares = [i for i in range(10) if i % 2 == 0]
print(numeros_pares)

[0, 2, 4, 6, 8]

In [51]:
# 4
numeros_impares = [i for i in range(10) if i % 2 != 0]
print(numeros_impares)

[1, 3, 5, 7, 9]

In [52]:
#5
numeros_pares = [i for i in range(-99, -49) if i % 2 == 0]
print(numeros_pares)

[-98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50]

In [53]:
#6
numeros_impares = [i for i in range(-99, -49) if i % 2 != 0]
print(numeros_impares)

[-99, -97, -95, -93, -91, -89, -87, -85, -83, -81, -79, -77, -75, -73, -71, -69, -67, -65, -63, -61, -59, -57, -55, -53, -51]

In [54]:
#7
numeros_impares = [i for i in range(15, 35) if i % 2 != 0]
print(numeros_impares)

[15, 17, 19, 21, 23, 25, 27, 29, 31, 33]

In [56]:
#8
numeros_pares = [i for i in range(35, 55) if i % 2 == 0]
print(numeros_pares)

[36, 38, 40, 42, 44, 46, 48, 50, 52, 54]

In [57]:
#9
numeros_pares = [i**2 for i in range(505, 600) if i % 2 == 0]
print(numeros_pares)

[256036, 258064, 260100, 262144, 264196, 266256, 268324, 270400, 272484, 274576, 276676, 278784, 280900, 283024, 285156, 287296, 289444, 291600, 293764, 295936, 298116, 300304, 302500, 304704, 306916, 309136, 311364, 313600, 315844, 318096, 320356, 322624, 324900, 327184, 329476, 331776, 334084, 336400, 338724, 341056, 343396, 345744, 348100, 350464, 352836, 355216, 357604]

In [58]:
#10
numeros_impares_cuadrados = [i**2 for i in range(-1010, -934) if i % 2 != 0]
print(numeros_impares_cuadrados)

[1018081, 1014049, 1010025, 1006009, 1002001, 998001, 994009, 990025, 986049, 982081, 978121, 974169, 970225, 966289, 962361, 958441, 954529, 950625, 946729, 942841, 938961, 935089, 931225, 927369, 923521, 919681, 915849, 912025, 908209, 904401, 900601, 896809, 893025, 889249, 885481, 881721, 877969, 874225]